@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  background: transparent;
  margin: 2rem;
}

.scrollbarfeature{
  scroll-behavior: smooth;
}

.scrollbarfeature:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}


.error__404__text {
  font-size:500px;
  color:red;
  padding:0px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



/* slider css */
.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #2962ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2962ff;
  cursor: pointer;
}


@media screen and (max-width: 400px) {
.scrollbarfeature:hover::-webkit-scrollbar-thumb {
  background-color: transparent;
}
}

.toc{
  padding-top:2rem;
  padding-bottom:4rem;
  background-color: #161b22;
  margin-bottom:4rem;
  border-radius:10px;
}
.toc-link-h1{
  font-size: 25px;
  font-weight:600;
}

.toc-level-1 li{
  list-style: none;
}
.toc-level-2 li{
  color:#ddd;
  list-style: disc;
  font-weight:400;
}

li::marker{
    color:#444
}